#tittle {
    font-family: 'Courier New';
}
p {
    font-family: Verdana;
}
body {
    background-color: #4E878C ;
}
.habil1 {
    font-size: 20px;

}
.habil2 {
    font-size: 18px;

}
.habil3 {
    font-size: 25px;

}  
.habil4 {
    font-size: 19px;

}